@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 100%;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#map{
    height: 85vh;
    width: 100%;
    background-color: gray;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.gm-style-iw-d{
    color: black;
    font-weight: bold;
}

